.aside{
    position: relative;
    left: 0px;
    height: 100%;
    width:23%;
    background-color:#30a840 !important; 
}

.TextoAgenda{
    color: #FFFFFF;
    position: relative;
    width: 30px;
    left: 25%;
    top:20px;
    font-size: 40px;
    font-family: Arial;    
}

#nomb{
    position: relative;
    top:-10px; /* ajustar los valores para mover la imagen */
 
    left:10px;
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #000000;
    
    display: block;
    width: 80%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
#pate{
    position: relative;
    top:-10px; /* ajustar los valores para mover la imagen */
 
    left:10px;
    font-family: 'Overpass', sans-serif;
    font-size:70%;
    color: #000000;
    
    display: block;
    width: 40%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
#mater{
    position: relative;
    top:-60px; /* ajustar los valores para mover la imagen */
 
    left:150px;
    font-family: 'Overpass', sans-serif;
    font-size:70%;
    color: #000000;
    
    display: block;
    width: 40%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
#sex{
    position: relative;
    top:-60px; /* ajustar los valores para mover la imagen */
 
    left:10px;
    font-family: 'Overpass', sans-serif;
    font-size:70%;
    color: #000000;
    
    display: block;
    width: 40%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

.main-container{
    position: relative;
    top: -650px;
    left: 23%;
    height: 100%;
    width:70%;  
}

table{
    background-color: rgb(22, 14, 14);
    text-align:left;
    border-collapse: collapse;
    width: 100%;
    position: relative;
    left: 53px;
    top: 35px;

}

th,td{
    padding: 20px;
}

thead{
    background-color: #060808;
    border-bottom:solid 5px #0F362D;
    color: white;
  
}
tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #369681;
    color:white;
}


@media (max-width: 750px) {
    .aside{
        position: relative;
        left: 0px;
        height: 20%;
        width:110%;
        background-color:red !important; 
    }

}

@media (max-width: 550px) {
    .aside{
        position: relative;
        left: 0px;
        height: 30%;
        width:200%;
        background-color:green !important; 
    }
}